
.hide {
  display: none;
  order: inherit;
}
.opacity {
    opacity:0;
    transition: opacity 12s cubic-bezier(0.23, 1, 0.32, 1);
}
.push_to{ 
  opacity:0;
  transform: translateX(30%);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1),
                  opacity 6s cubic-bezier(0.23, 1, 0.32, 1);
}
.pull_from { 
  /*opacity:0;*/
  transform: translateX(-80%);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1),
                  opacity 6s cubic-bezier(0.23, 1, 0.32, 1);
  /*animation: moveFromLeft 5s 1;*/
}
@keyframes moveFromLeft {
    from {left: -10%;}
    to {left: 0;}
}
/*_______________________*/

.wrap {
  overflow: hidden;
}

#carousel {
  display: flex;
  justify-content: center;
}
.carousel-seat {
  background: #dfd;
  flex-basis: 20%;
  /*opacity: 1;*/
  /*transition: opacity 3s cubic-bezier(0.23, 1, 0.32, 1)*/
}
.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}

/******************/
h2 {
  color: #aaa;
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
}

.controls {
  padding: 2em;
  text-align: center;
}
.controls button {
  background: #aaa;
  border: 0;
  border-radius: 0.25em;
  color: #eee;
  padding: 0.5em 1em;
}
.controls button:hover, .controls button:focus {
  background: magenta;
}
